
<div class="text-center">
    <h1 class="display-4">VisualStudioCode・GitHub・GitHubActions(最新)・Azure</h1>
    @* <p>Learn about <a href="https://docs.microsoft.com/ja-jp/learn/modules/develop-web-apps-with-vs-code/">Visual Studio Code</a>.</p> *@
</div>
@* <table width="1200" cellspacing="0" cellpadding="0" style="border:0px solid blue;" bgcolor="white" align="center">
  <tr>
    <td>
      <!-- タイトルバー -->
      <table width="100%" style="border:1px solid #cccccc; background-color: transparent; url(title.gif); background-color: transparent;" align="center"> *@
        @* <tr>
          <td>
            <br><br><br>
            <h1>"ERUZAHP"</h1>
            </div></h1>
            <br>
          </td>
        </tr> *@
      @* </table> *@
@* @{
    ViewData["Title"] = "使用ソフト・サービス　VisualStudioCode・GitHub・Azure";
} *@
      <!-- コンテンツバー -->
      @* <table width="100%" height="34" cellspacing="0" cellpadding="0" bgcolor="#6899d1" align="center"> *@
      @* <table width="100%" height="34" cellspacing="0" cellpadding="0" background-color: transparent align="center">
        <tr valign="middle" align="center">
          <td width="150" background="main-bar.jpg"><span style="font-size:11.5pt;"><a href="index.html"><font color=white><strong>トップページ</strong></font></a></span></td>
          <td width="150" background="main-bar.jpg"><span style="font-size:11.5pt;"><a href="page1.html"><font color=white><strong>新着情報</strong></font></a></span></td>
          <td width="150" background="main-bar.jpg"><span style="font-size:11.5pt;"><a href="page2.html"><font color=white><strong>ERUZABLOG</strong></font></a></span></td>
          <td width="150" background="main-bar.jpg"><span style="font-size:11.5pt;"><a href="page3.html"><font color=white><strong>ERUZACHAT</strong></font></a></span></td>
          <td width="150" background="main-bar.jpg"><span style="font-size:11.5pt;"><a href="page4.html"><font color=white><strong>技術TTOPICS</strong></font></a></span></td>
          <td width="150" background="main-bar.jpg"><span style="font-size:11.5pt;"><a href="page5.html"><font color=white><strong>お問い合わせ</strong></font></a></span></td>
        </tr>
      </table>





      <!-- サイドバー ＋ メインコンテンツ -->
      <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
        <tr align="center" valign="top">
          <td>

            <!-- サイドバー -->
            <iframe height="500" width="100%" src="index.html" frameborder="0" marginheight="0" marginwidth="0" scrolling="no"></iframe>

          </td>
          <td>



            <!-- メインコンテンツ -->
            <table border="0" width="580" cellpadding="0" cellspacing="0">
              <tr valign="top">
                <td>



                  <!-- 写真 -->
                  <div class="line2">&nbsp;</div>
                  <table width="99%" style="border:1px solid blue; background:#ffffff url(main.jpg); background-repeat:no-repeat;" align="center">
                    <tr><td>
                      <div class="line1">&nbsp;</div>
                      <br><br><br><br><br><br>
                    </td></tr>
                  </table>




                  <div class="line4">&nbsp;</div>
                  <table border="0" width="99%" height="29" cellspacing="0" cellpadding="0" style="border-style:solid; border-width:1px 1px 1px 1px; border-color:#cccccc; background:#ffffff url(blue-bar.gif);" align="center">
                    <tr align="center" valign="middle">
                      <td>
                        <h2><font color=red>　 新着情報</font></h2>
                      </td>
                    </tr>
                  </table>
                  <table width="99%" style="border:1px solid #c7c7c7" bgcolor="#ffffff" cellspacing="0" align="center">
                    <tr>
                      <td align="center" valign="top" style="padding:10px">
                        <p>
                        <a href="https://toretama.jp/" target="_blank">最新情報
                        。<br><br>
                        </p>

                      </td>
                    </tr>
                  </table>




                  <div class="line4">&nbsp;</div>
                  <table border="0" width="99%" height="29" cellspacing="0" cellpadding="0" style="border-style:solid; border-width:1px 1px 1px 1px; border-color:#cccccc; background:#ffffff url(blue-bar.gif);" align="center">
                    <tr align="center" valign="middle">
                      <td>
                        <h2>　  CI/CD　でビルドテストデプロイを自動化するメリット</h2>
                      </td>
                    </tr>
                  </table> *@
                  @* <table width="99%" style="border:1px solid #c7c7c7" bgcolor="#ffffff" cellspacing="0" align="center">
                    <tr>
                      <td align="center" style="padding:15px" bgcolor="#ffffff">
                        <a href="./pageCS.cshtml"><IMG SRC="hp1.jpg" border="0" alt="HTML5"></a>
                      </td>
                      <td align="center" valign="top" style="padding:3px">
                        <p><br>
                        ・ 修正したソースをUPするだけで自動でテストデプロイをすべて行うことが可能<br>
                        </p>

                        <div align="right">
                        <p>
                        <img src="c.gif" border="0">　<a href="page2.html"><strong>詳しくはこちらから</strong></a>
                        </p>
                        </div>

                      </td>
                    </tr>
                  </table>

                  <div class="line4">&nbsp;</div>
                  <table border="0" width="99%" height="29" cellspacing="0" cellpadding="0" style="border-style:solid; border-width:1px 1px 1px 1px; border-color:#cccccc; background:#ffffff url(blue-bar.gif);" align="center">
                    <tr align="center" valign="middle">
                      <td>
                        <h2>　 GIT HUB CI/CDはこのような方にオススメ</h2>
                      </td>
                    </tr>
                  </table>
                  <table width="99%" style="border:1px solid #c7c7c7" bgcolor="#ffffff" cellspacing="0" align="center">
                    <tr>
                      <td align="center" style="padding:15px" bgcolor="#ffffff">
                        <a href="page3.html"><IMG SRC="hp2.jpg" border="0" alt=""></a>
                      </td>
                      <td align="center" valign="top" style="padding:3px">
                        <p><br>
                        ・ 自動デプロイしたい方<br>
                        </p>

                        <div align="right">
                        <p>
                        <img src="c.gif" border="0">　<a href="page3.html"><strong>詳しくはこちらから</strong></a>
                        </p>
                        </div>

                      </td>
                    </tr>
                  </table><br> *@

                @* </td>
              </tr>
            </table>
          </td>
        </tr>
      </table> *@

